.stepsWhole{
    background-color: #fafafa;
    margin-top: 7rem !important;
}

.stepsImage{
    width: 90% !important;
    margin-left: 1.5rem !important;
}

.stepsText{
    margin-top: 2rem !important;
    padding-right: 6rem !important;
}