.hoverComponent {
    right: 0;
    top: 0;
    opacity: 0;
    visibility: hidden;
    transition: 0.013s;
}

.hoverButton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 2.5rem;
    height: 1.6rem;
    text-align: center;
    border: 1px solid rgb(25, 24, 24);
    border-radius: 0.2rem;
    margin-right: 0.1rem;
    margin-top: 0.3rem;
    cursor: pointer;
}