.market-depth-wrapper {
    max-height: 0;
    overflow: hidden;
    opacity: 0;

    transition:
        max-height 0.35s ease,
        opacity 0.25s ease,
        margin-top 0.25s ease;

    margin-top: 0;
}

.market-depth-wrapper.open {
    max-height: 500px;
    opacity: 1;
    margin-top: 10px;
}
