.footer{
    height: 5.5vh;
    width: 30%;
    border: 1.5px solid var(--border-color);
    position: fixed;
    bottom: 0;
    left: 0;
    background-color: var(--bg-color);
    display: flex;
    justify-content: space-between;
}

.page{
    margin-top: -0.0222rem !important;
    padding-left: 1.2rem;
    padding-right: 1.2rem;
    padding-top: 0.5rem;
    color:#9b9b9b;
    cursor: pointer;
}

.hover:hover{
    border-top: 3px solid var(--border-color);
}

.active{
    border-top: 3px solid #BD504E;
}

.addPage{
    color:var(--text-color);
    opacity: 0.7;
    padding: 1rem 2rem 1rem 1rem;
}

.addPage:hover{
    color: #BD504E;
}

