.wishlist{
    font-size: 0.8rem;
    width: 100% ;
    display: flex !important;
    justify-content: space-between !important;
}

.lists{
    background-color: #f8f8f8;
    border: 1px solid #cccccc;
    border-radius: 2px;
    box-shadow: 2px 2px 20px #ccc;
}

.head{
    font-size: 0.8rem;
    margin-left: -0.7rem;
    margin-top: -0.3rem;
}

.items{
    background-color: white;
    font-size: 0.81rem;
}


.items:hover{
    background-color: #f8f8f8; 
}

.items:hover .hide{
    visibility: hidden;
}



.items:hover .hoverComponent {
    opacity: 1;
    visibility: visible;
}

.exchange{
    font-size: 0.5rem !important;
}

.market-depth-wrapper {
    max-height: 0;
    overflow: hidden;

    opacity: 0;
    transform: translateY(-10px);

    transition:
        max-height 0.25ease,
        opacity 0.2 ease,
        transform 0.2 ease;

    will-change: max-height, opacity, transform;
}

.market-depth-wrapper.open {
    max-height: 600px;

    opacity: 1;
    transform: translateY(0);
}
