.bids-ipo-head{
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center ;
}

.bids-ipo{
    padding: 0.5rem;
}

.bids-ipo hr{
    margin-top: -0.6rem !important;
}


.ipo-heading{
    margin-top: 1rem;
    font-size: 1.5rem;
    font-weight: 500;
}

.ipo-input{
    width: 6rem;
    height: 1rem;
    padding: 0.71rem;
    background-color: var(--bg-color);
    color: var(--text-colors);
    border: 1.5px solid var(--border-color);
    border-radius: 0.2rem;
}