.pricingSection p {
    color: #555;
    font-size: 1rem;
}

.pricingLink {
    text-decoration: none;
    font-weight: 500;
}

.pricingLink i {
    margin-left: 5px;
}

.pricingItem img {
    width: 50%;
    height: auto;
}

.pricingItem p{
    margin-left: -1rem !important;
    margin-top: 1rem !important;
    font-size: 0.7rem;
}