.dashboard-navbar-menu {
    border-bottom: 1.5px solid var(--border-color);
    padding-bottom: 0.5rem;
}

.dashboard-navbar-options {
    padding: 1rem 1rem 0.5rem 1rem;
    margin-left: 0.2rem;
    text-decoration: none;
    color: #707071;
    text-decoration: none;
    color: gray;
    font-size: 0.8rem;
    font-weight: 600;
}

.active {
    color: #BD504E;
    border-bottom: 2px solid #BD504E;
}

.dashboard-navbar-options:hover {
    color: #BD504E;
    border-bottom: 2px solid #BD504E;
}