.menubar {
    height: 80%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 1rem;
    background-color: var(--bg-color);
    border-bottom: 1.5px solid var(--border-color);
    border-left: 1.5px solid var(--border-color);
}

.menuOptions {
    margin: 0 0.6rem;
    text-decoration: none;
    color: var(--text-color);
    font-size: 0.8rem;
    transition: color 0.2s ease;
}

.menuOptions.active {
    color: #BD504E;
    font-weight: 600;
}

.menuOptions:hover {
    color: #DD3562;
}